/* used to override row for movie cards to remove the -15 left and right margin */
.movie-row {
  margin-right: 0;
  margin-left: 0;
}

.banner {
  background: url(./images/banner.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100vw;
  height: 25vh;
  max-height: 472px; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.banner-text {
  text-align: center;
  transform: scale(1, 2);
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

#info-icon_container {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 8%;
  background-color: rgba(206, 206, 206, 0.8);
  -webkit-transition: background-color .5s linear;
  -moz-transition: background-color .5s linear;
  -o-transition: background-color .5s linear;
  transition: background-color .5s linear;
  animation: info-colorflash 1s 0.6s 2 linear;
}

#info-icon_container:hover {
  background-color: rgb(255, 0, 0, 0.8);
  -webkit-transition: background-color .5s linear;
  -moz-transition: background-color .5s linear;
  -o-transition: background-color .5s linear;
  transition: background-color .5s linear;
}

@keyframes info-colorflash {
  33%  {background-color: rgb(255, 0, 0, 0.8)}
  66%  {background-color: rgba(206, 206, 206, 0.8);}
}

#info-icon {
  height: 3rem;
  width: 3rem;
}

#park-list_container,
#message_container {
  padding: 0 0.5rem;
  overflow: hidden;
}

@media (min-width: 576px) {
  
  .banner-text {
    font-size: 2rem;
  }

  #park-list_container {
    padding: 0 1.5rem;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
  .banner-text {
    font-size: 2.5rem;
  }
  
  #park-list_container {
    padding: 0 2rem;
    max-width: 1200px;
  }

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .banner-text {
    font-size: 3.5rem;
  }

  #park-list_container {
    padding: 0 2.5rem;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .banner-text {
    font-size: 4rem;
  }


  #park-list_container {
    padding: 0 3rem;
  }

}

.force-show {
  opacity: 1 !important;
  visibility: visible !important;
}

.park-container-transition {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s linear, visibility 1s linear;
  -moz-transition: opacity 1s linea,r visibility 1s linear;
  -webkit-transition: opacity 1s linear, visibility 1s linear;
}
